# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Tamatin Turn Based.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
